# Ensure only custom code is contributed.

libraries/*
modules/*
!modules/custom
tests/behat/vendor
themes/*
!themes/custom



# Prevent Vagrant related files.

.vagrant/
docroot/



# Prevent miscellaneous/system files.

.DS_Store
.idea
