body.not-front {
  #block-blockify-blockify-logo {
    text-align: center;

    img {
      width: 25%;
    }
  }

  #block-blockify-blockify-site-name {
    @include respond-to('phone') {
      margin-top: -8px;
    }

    @include respond-to('tablet') {
      margin-top: -32px;
    }
    @include respond-to('desktop') {
      margin-top: -48px;
    }
    @include respond-to('wide') {
      margin-top: -64px;
    }
  }
}
