#block-blockify-blockify-logo {
  text-align: center;

  a#logo {
    display: block;
    width: 33%;
    margin: 0 auto;
  }
}

body.not-front {
  #block-blockify-blockify-logo {
    text-align: center;

    a#logo {
      width: 25%;
    }
  }
}
