@import "compass/css3/background-size";

body {
  @include background-size();

  background-image: url('../images/bg-docklands.jpg');
  background-repeat: no-repeat;
}

#block-blockify-blockify-logo {
  text-align: center;

  img {
    width: 33%;
  }
}

.region-footer {
  text-align: center;
}
