// TODO - Replace with compass mixin.
@font-face {
  font-family: 'BreeRegular';
  src: url('../fonts/BreeRegular/breeregular.eot');
  src: url('../fonts/BreeRegular/breeregular.eot') format('embedded-opentype'), url('../fonts/BreeRegular/breeregular.woff2') format('woff2'), url('../fonts/BreeRegular/breeregular.woff') format('woff'), url('../fonts/BreeRegular/breeregular.ttf') format('truetype'), url('../fonts/BreeRegular/breeregular.svg#BreeRegular') format('svg');
}

body {

}

h1, h2, h3 {
  font-family: 'BreeRegular';
}

h2 {
  color: $color-blue-drupal;
}

.pane-title {
  text-align: center;
}

.typo-heading-black {
  h1, h2, h3 {
    color: $color-black;
  }
}
