// TODO - Replace with compass mixin.
@font-face {
  font-family: 'BreeRegular';
  src: url('../fonts/BreeRegular/breeregular.eot');
  src: url('../fonts/BreeRegular/breeregular.eot') format('embedded-opentype'),
  url('../fonts/BreeRegular/breeregular.woff2') format('woff2'),
  url('../fonts/BreeRegular/breeregular.woff') format('woff'),
  url('../fonts/BreeRegular/breeregular.ttf') format('truetype'),
  url('../fonts/BreeRegular/breeregular.svg#BreeRegular') format('svg');
}

body {
  &, h1, h2 {
    font-family: 'BreeRegular';
  }
}

#block-blockify-blockify-site-name {
  font-size: 24px;
  margin-top: -16px;
  text-align: center;

  @include respond-to('tablet') {
    font-size: 59px;
    margin-top: -48px;
  }
  @include respond-to('desktop') {
    font-size: 78px;
    margin-top: -64px;
  }
  @include respond-to('wide') {
    font-size: 94px;
    margin-top: -80px;
  }

  .part-drupal {
    color: $color-blue-drupal;
  }

  .part-camp {
    color: $color-blue-dark;
  }

  .part-melbourne {
    color: $color-orange;
  }
}

#block-blockify-blockify-site-slogan {
  font-size: 15px;
  margin-top: 1px;
  text-align: right;

  @include respond-to('phone') {
    text-align: center;
  }
  @include respond-to('tablet') {
    font-size: 29px;
    margin-right: 65px;
    margin-top: -27px;
  }
  @include respond-to('desktop') {
    font-size: 39px;
    margin-right: 80px;
    margin-top: -33px;
  }
  @include respond-to('wide') {
    font-size: 47px;
    margin-right: 102px;
    margin-top: -36px;
  }
}
